.container {
  max-width: 350px;
}

.wrapper {
  display: flex;
  position: relative;
}

.number {
  margin: 0 20px 0 10px;
  position: absolute;
  left: -45px;
  top: 3px;
}
.number:nth-child(3) {
  left: unset;
  right: 40px;
}
